Projetos/InfoTech2u/Born2TrainSystemWebAPI/Service References/FireBaseGenericService/FireBaseGenericService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FireBaseGenericService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54747/FireBaseGenericService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54747/FireBaseGenericService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFireBaseGenericService_GetFireBaseData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFireBaseData" />
  </wsdl:message>
  <wsdl:message name="IFireBaseGenericService_GetFireBaseData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFireBaseDataResponse" />
  </wsdl:message>
  <wsdl:message name="IFireBaseGenericService_SetFireBaseData_InputMessage">
    <wsdl:part name="parameters" element="tns:SetFireBaseData" />
  </wsdl:message>
  <wsdl:message name="IFireBaseGenericService_SetFireBaseData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetFireBaseDataResponse" />
  </wsdl:message>
  <wsdl:message name="IFireBaseGenericService_PushFireBaseData_InputMessage">
    <wsdl:part name="parameters" element="tns:PushFireBaseData" />
  </wsdl:message>
  <wsdl:message name="IFireBaseGenericService_PushFireBaseData_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushFireBaseDataResponse" />
  </wsdl:message>
  <wsdl:message name="IFireBaseGenericService_UpdateFireBaseData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFireBaseData" />
  </wsdl:message>
  <wsdl:message name="IFireBaseGenericService_UpdateFireBaseData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFireBaseDataResponse" />
  </wsdl:message>
  <wsdl:message name="IFireBaseGenericService_DeleteFireBaseData_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFireBaseData" />
  </wsdl:message>
  <wsdl:message name="IFireBaseGenericService_DeleteFireBaseData_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFireBaseDataResponse" />
  </wsdl:message>
  <wsdl:message name="IFireBaseGenericService_FirebaseTokenGenerator_InputMessage">
    <wsdl:part name="parameters" element="tns:FirebaseTokenGenerator" />
  </wsdl:message>
  <wsdl:message name="IFireBaseGenericService_FirebaseTokenGenerator_OutputMessage">
    <wsdl:part name="parameters" element="tns:FirebaseTokenGeneratorResponse" />
  </wsdl:message>
  <wsdl:portType name="IFireBaseGenericService">
    <wsdl:operation name="GetFireBaseData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFireBaseGenericService/GetFireBaseData" message="tns:IFireBaseGenericService_GetFireBaseData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFireBaseGenericService/GetFireBaseDataResponse" message="tns:IFireBaseGenericService_GetFireBaseData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetFireBaseData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFireBaseGenericService/SetFireBaseData" message="tns:IFireBaseGenericService_SetFireBaseData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFireBaseGenericService/SetFireBaseDataResponse" message="tns:IFireBaseGenericService_SetFireBaseData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushFireBaseData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFireBaseGenericService/PushFireBaseData" message="tns:IFireBaseGenericService_PushFireBaseData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFireBaseGenericService/PushFireBaseDataResponse" message="tns:IFireBaseGenericService_PushFireBaseData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFireBaseData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFireBaseGenericService/UpdateFireBaseData" message="tns:IFireBaseGenericService_UpdateFireBaseData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFireBaseGenericService/UpdateFireBaseDataResponse" message="tns:IFireBaseGenericService_UpdateFireBaseData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFireBaseData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFireBaseGenericService/DeleteFireBaseData" message="tns:IFireBaseGenericService_DeleteFireBaseData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFireBaseGenericService/DeleteFireBaseDataResponse" message="tns:IFireBaseGenericService_DeleteFireBaseData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FirebaseTokenGenerator">
      <wsdl:input wsaw:Action="http://tempuri.org/IFireBaseGenericService/FirebaseTokenGenerator" message="tns:IFireBaseGenericService_FirebaseTokenGenerator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFireBaseGenericService/FirebaseTokenGeneratorResponse" message="tns:IFireBaseGenericService_FirebaseTokenGenerator_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFireBaseGenericService" type="tns:IFireBaseGenericService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFireBaseData">
      <soap:operation soapAction="http://tempuri.org/IFireBaseGenericService/GetFireBaseData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFireBaseData">
      <soap:operation soapAction="http://tempuri.org/IFireBaseGenericService/SetFireBaseData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushFireBaseData">
      <soap:operation soapAction="http://tempuri.org/IFireBaseGenericService/PushFireBaseData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFireBaseData">
      <soap:operation soapAction="http://tempuri.org/IFireBaseGenericService/UpdateFireBaseData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFireBaseData">
      <soap:operation soapAction="http://tempuri.org/IFireBaseGenericService/DeleteFireBaseData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FirebaseTokenGenerator">
      <soap:operation soapAction="http://tempuri.org/IFireBaseGenericService/FirebaseTokenGenerator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FireBaseGenericService">
    <wsdl:port name="BasicHttpBinding_IFireBaseGenericService" binding="tns:BasicHttpBinding_IFireBaseGenericService">
      <soap:address location="http://localhost:54747/FireBaseGenericService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>