Projetos/InfoTech2u/Born2TrainSystemWebAPI/Service References/CryptographyService/CryptographyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CryptographyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54747/CryptographyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54747/CryptographyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICryptographyService_RijndaelCryptography_InputMessage">
    <wsdl:part name="parameters" element="tns:RijndaelCryptography" />
  </wsdl:message>
  <wsdl:message name="ICryptographyService_RijndaelCryptography_OutputMessage">
    <wsdl:part name="parameters" element="tns:RijndaelCryptographyResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptographyService_RijndaelDescryptography_InputMessage">
    <wsdl:part name="parameters" element="tns:RijndaelDescryptography" />
  </wsdl:message>
  <wsdl:message name="ICryptographyService_RijndaelDescryptography_OutputMessage">
    <wsdl:part name="parameters" element="tns:RijndaelDescryptographyResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptographyService_AESCryptography_InputMessage">
    <wsdl:part name="parameters" element="tns:AESCryptography" />
  </wsdl:message>
  <wsdl:message name="ICryptographyService_AESCryptography_OutputMessage">
    <wsdl:part name="parameters" element="tns:AESCryptographyResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptographyService_AESDescryptography_InputMessage">
    <wsdl:part name="parameters" element="tns:AESDescryptography" />
  </wsdl:message>
  <wsdl:message name="ICryptographyService_AESDescryptography_OutputMessage">
    <wsdl:part name="parameters" element="tns:AESDescryptographyResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptographyService_DESCryptography_InputMessage">
    <wsdl:part name="parameters" element="tns:DESCryptography" />
  </wsdl:message>
  <wsdl:message name="ICryptographyService_DESCryptography_OutputMessage">
    <wsdl:part name="parameters" element="tns:DESCryptographyResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptographyService_DESDescryptography_InputMessage">
    <wsdl:part name="parameters" element="tns:DESDescryptography" />
  </wsdl:message>
  <wsdl:message name="ICryptographyService_DESDescryptography_OutputMessage">
    <wsdl:part name="parameters" element="tns:DESDescryptographyResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptographyService_EncryptCryptographyService_InputMessage">
    <wsdl:part name="parameters" element="tns:EncryptCryptographyService" />
  </wsdl:message>
  <wsdl:message name="ICryptographyService_EncryptCryptographyService_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncryptCryptographyServiceResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptographyService_DecryptCryptographyService_InputMessage">
    <wsdl:part name="parameters" element="tns:DecryptCryptographyService" />
  </wsdl:message>
  <wsdl:message name="ICryptographyService_DecryptCryptographyService_OutputMessage">
    <wsdl:part name="parameters" element="tns:DecryptCryptographyServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="ICryptographyService">
    <wsdl:operation name="RijndaelCryptography">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptographyService/RijndaelCryptography" message="tns:ICryptographyService_RijndaelCryptography_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptographyService/RijndaelCryptographyResponse" message="tns:ICryptographyService_RijndaelCryptography_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RijndaelDescryptography">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptographyService/RijndaelDescryptography" message="tns:ICryptographyService_RijndaelDescryptography_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptographyService/RijndaelDescryptographyResponse" message="tns:ICryptographyService_RijndaelDescryptography_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AESCryptography">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptographyService/AESCryptography" message="tns:ICryptographyService_AESCryptography_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptographyService/AESCryptographyResponse" message="tns:ICryptographyService_AESCryptography_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AESDescryptography">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptographyService/AESDescryptography" message="tns:ICryptographyService_AESDescryptography_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptographyService/AESDescryptographyResponse" message="tns:ICryptographyService_AESDescryptography_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DESCryptography">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptographyService/DESCryptography" message="tns:ICryptographyService_DESCryptography_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptographyService/DESCryptographyResponse" message="tns:ICryptographyService_DESCryptography_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DESDescryptography">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptographyService/DESDescryptography" message="tns:ICryptographyService_DESDescryptography_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptographyService/DESDescryptographyResponse" message="tns:ICryptographyService_DESDescryptography_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EncryptCryptographyService">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptographyService/EncryptCryptographyService" message="tns:ICryptographyService_EncryptCryptographyService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptographyService/EncryptCryptographyServiceResponse" message="tns:ICryptographyService_EncryptCryptographyService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DecryptCryptographyService">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptographyService/DecryptCryptographyService" message="tns:ICryptographyService_DecryptCryptographyService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptographyService/DecryptCryptographyServiceResponse" message="tns:ICryptographyService_DecryptCryptographyService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICryptographyService" type="tns:ICryptographyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RijndaelCryptography">
      <soap:operation soapAction="http://tempuri.org/ICryptographyService/RijndaelCryptography" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RijndaelDescryptography">
      <soap:operation soapAction="http://tempuri.org/ICryptographyService/RijndaelDescryptography" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AESCryptography">
      <soap:operation soapAction="http://tempuri.org/ICryptographyService/AESCryptography" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AESDescryptography">
      <soap:operation soapAction="http://tempuri.org/ICryptographyService/AESDescryptography" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DESCryptography">
      <soap:operation soapAction="http://tempuri.org/ICryptographyService/DESCryptography" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DESDescryptography">
      <soap:operation soapAction="http://tempuri.org/ICryptographyService/DESDescryptography" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncryptCryptographyService">
      <soap:operation soapAction="http://tempuri.org/ICryptographyService/EncryptCryptographyService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptCryptographyService">
      <soap:operation soapAction="http://tempuri.org/ICryptographyService/DecryptCryptographyService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CryptographyService">
    <wsdl:port name="BasicHttpBinding_ICryptographyService" binding="tns:BasicHttpBinding_ICryptographyService">
      <soap:address location="http://localhost:54747/CryptographyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>