Projetos/InfoTech2u/Born2TrainSiteWebAPI/Service References/FireBaseGenericService/FireBaseGenericService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetFireBaseData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthSecret" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BasePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="item" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFireBaseDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFireBaseDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFireBaseData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthSecret" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BasePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="item" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFireBaseDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetFireBaseDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushFireBaseData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthSecret" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BasePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="item" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushFireBaseDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PushFireBaseDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFireBaseData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthSecret" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BasePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="item" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFireBaseDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFireBaseDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFireBaseData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthSecret" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BasePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="item" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFireBaseDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFireBaseDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirebaseTokenGenerator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="some" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirebaseTokenGeneratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FirebaseTokenGeneratorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>